body{
      border: 0.3px solid #030D14;
 background: #1e3c72;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


#fontColor{
    color:white;
}
#ultext{
   font-family: 'Libre Baskerville', serif;
    font-size:120%;
    color:white;
    font-weight: 700;
}
/*PAGE refers to everything below nav bar*/

.shadow-textarea textarea.form-control::placeholder {
    font-weight: 300;
     font-size:150%;
     
}
.shadow-textarea textarea.form-control {
    padding-left: 0.8rem;
}

.textboxPos{
    padding-left: 20px;

}

#PostbuttonStyle
{
    margin-top:2px;
}

#PostTextStyle{
    font-family: 'Barlow', sans-serif;
    font-size:145%;
    color:white;
    font-weight:700 ;
    padding-left: 15px;
    
    
}

#CommentsTextStyle{
    font-family: 'Barlow', sans-serif;
    font-size:145%;
    color:black;
    font-weight:700 ;
    padding-left: 15px;
    
}

#fontColor{
    color:white;
}

#BoarderOnTextDiv{
   border: 0.5px  solid white;
   background:white;  /* fallback for old browsers */
   
   margin-top: 5px;
    margin-left: 10px;
    box-shadow: 0.5px 0.5px 0px 0px white;
    border-radius: 6px 6px 6px 6px;
}

/*#CommentIconStyle{
    padding-left: 450px;
}
*/
#colors
{
  background: #1e3c72;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2a5298, #1e3c72);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2a5298, #1e3c72); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.btn-primary
{
    background-color:  #0275d8 ;
}

#CommentTextStyle{
    font-family:  sans-serif;
    font-size:120%;
    color:white;
    font-weight:500 ;
    padding-left: 15px;
    
    
}

#CommentAuthorTextStyle{
   
    font-family: 'Abril Fatface',sans-serif;
    font-size:15px;
    letter-spacing: 1px;
    color:black;
    font-weight:200 ;
    padding-left: 15px;
    
    
}

#CommentAuthorStyle{
    font-family:  sans-serif;
    font-size:100%;
    color:black;
    font-weight:200;
    padding-left: 15px;
     margin-top: 5px;
     
    
}
#authorIconstyle
{
    margin-top: 10px;
    
    
}

#AuthorNameSyle
{
     font-family:'Anton'  sans-serif
}


.commentBox{
    height:auto;
    border: 2px solid #ced1ed;
    margin:10px auto;
    padding:20px;
    box-sizing: border-box;
    border-radius: 15px;
  border-top-left-radius: 0;
    
}

#event{
    font-family: 'Permanent Marker', cursive;
     font-size:20px;
      color:white;
    font-weight: 700;
}

#BookTextStyle{
    border: 2px solid #ced1ed;
    margin-bottom: 4px;
    padding-top: 3px;
    border-radius: 5px;
}

#absentStyles
{
     background:  #0275d8;
}

.navbar.navbar-1 .navbar-toggler-icon {
background-image: url('https://mdbootstrap.com/img/svg/hamburger6.svg?color=000');
}
.navbar.navbar-2 .navbar-toggler-icon {
background-image: url('https://mdbootstrap.com/img/svg/hamburger2.svg?color=fff');
}
.navbar.navbar-3 .navbar-toggler-icon {
background-image: url('https://mdbootstrap.com/img/svg/hamburger1.svg?color=6a1b9a');
}
.navbar.navbar-4 .navbar-toggler-icon {
background-image: url('https://mdbootstrap.com/img/svg/hamburger7.svg?color=BFE100');
}
.navbar.navbar-5 .navbar-toggler-icon {
background-image: url('https://mdbootstrap.com/img/svg/hamburger5.svg?color=f3e5f5');
}
.navbar.navbar-6 .navbar-toggler-icon {
background-image: url('https://mdbootstrap.com/img/svg/hamburger8.svg?color=E3005C');
}
.navbar.navbar-7 .navbar-toggler-icon {
background-image: url('https://mdbootstrap.com/img/svg/hamburger9.svg?color=FF2C00');
}
.navbar.navbar-8 .navbar-toggler-icon {
background-image: url('https://mdbootstrap.com/img/svg/hamburger4.svg?color=1729B0');
}
.navbar.navbar-9 .navbar-toggler-icon {
background-image: url('https://mdbootstrap.com/img/svg/hamburger3.svg?color=00FBD8');
}
label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}


