<% include ./partials/header%>
  
    <div class="container">
      <div style="margin-left:70px;">  
        <h1>Återställ lösenord</h1>
         <form action="/editpassword" method="post">
 
            <div class="form-group">
               <label for="exampleInputPassword1">epost adress</label>
               <input type="email" name ="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email adress">
             </div>
           
            
           
            
            <button type="submit" class="btn btn-primary btn-lg"  style="margin-bottom:3px;">Skicka</button>
         </form>
      </div>  
 </div>

<% include ./partials/footer%>